@media print {
    @page {
        size: 54mm 3in;
        margin: 0;
        margin-right: 0;
    }
    body
    {
        visibility: visible;
        overflow: hidden;
    }
    #sidebar
    {
        visibility: hidden;
        left: -100px;
    }
    *::-webkit-scrollbar 
    {
        display: none;
    }
    button
    {
        visibility: hidden;
    }
    #top
    {
        visibility: hidden;
    }
    .receipt
    {
        position: absolute;
        width: 100%;
        top:0;
        left: 0;
        right:0;
    }
}